:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Evita barras de rolagem indesejadas no nível do host */
}

.app-container {
  position: relative;
  flex-grow: 1; /* Ocupa o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a tela */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.background-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Overlay escuro para melhor contraste do texto */
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorcer */
  object-position: center;
}

.content-area {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
